.poro-logo {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.error--hidden {
    display: none;
}

.table-responsive {
    overflow-x: auto;
}

.btn-agregar {
    background: #f0731f;
    font-weight: bolder;
    color: white;
}

.btn-agregar:hover {
    background: #f4943d;
    font-weight: bolder;
    color: white;
}

.img-bannerdash img{
    height: auto; 
    max-height: 430px; 
}




/*Estilo para ajustar a un tamanio especifico del card*/
.custom-card {
    min-height: 10rem;
    max-height: 20rem;
    overflow: hidden;
}

/* Estilo para botones */
.btn:hover {
    opacity: 0.8;
}

/* Estilo para enlaces */
a:hover {
    opacity: 0.8;
}
