{% extends "base.html" %} {% block content %}

<section>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h2 class="h2 fw-bold" style="color: #9dc8e4">Editar la sección</h2>
        </div>
      </div>
      <!-- /.row -->
      <!-- Modal Agregar Usuario-->
    </div>
    <!-- /.container-fluid -->
  </div>
</section>
<div class="container">
  <div class="card-deck" style="margin-top: 1rem">
    <div class="col-sm-8">
      <div
        class="card w-500 border-0"
        style="background-color: #e7e7e794; color: #1f5d83; font-weight: 600"
      >
        <div class="card-body">
          <form
            action="{{ url_for('edit_seccion', Secciones_id=seccion._id) }}"
            method="POST"
          >
            <div class="mb-3">
              <label for="curso">Seleccione el curso:</label>
              <select class="form-select" id="curso" name="curso">
                {% for curso in cursos %}
                <option value="{{ curso._id }}">{{ curso.nombre }}</option>

                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="seccion" class="form-label">
                    Número de sección
                  </label>
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control border-0"
                    id="seccion"
                    name="seccion"
                    style="width: 100%"
                    value="{{ seccion.seccion }}"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="horario" class="form-label">
                    Horario de la sección
                  </label>
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control border-0"
                    id="horario"
                    name="horario"
                    style="width: 100%"
                    value="{{ seccion.horario }}"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="estudiantesAsignados" class="form-label">
                    Estudiantes asignados (separados por comas)
                  </label>
                </div>
                <div class="col">
                  <textarea
                    class="form-control border-0"
                    id="estudiantesAsignados"
                    name="estudiantesAsignados"
                    style="width: 100%"
                    rows="4"
                    required
                  >
                    {{ seccion.estudiantesAsignados | join(',') }}</textarea
                  >
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button
                type="submit"
                class="btn"
                style="
                  background-color: #f0731f;
                  color: whitesmoke;
                  font-weight: 600;
                "
              >
                Editar sección
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
