{% extends "base.html" %}

{% block content %}

    <div class="container d-flex justify-content-between align-items-center" style="margin-top: 1rem;">
        <h1 class="h2 fw-bold" style="color:#9DC8E4;">Editar personal</h1>
    </div>

<div class="container">
    <div class="card-deck" style="margin-top: 1rem;">
        <div class="col-sm-8">
            <div class="card w-500 border-0" style="background-color: #e7e7e794; color:#1F5D83; font-weight: 600;">
                <div class="card-body">
                    <form action="{{ url_for('edit_personal', Personal_id=event._id) }}" method="POST">
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label for="nombre_completo" class="form-label">Nombre completo:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control border-0" id="nombre_completo" name="nombre_completo" style="width: 100%;" value="{{ event.nombre_completo }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label for="puesto" class="form-label">Puesto:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control border-0" id="puesto" name="puesto" style="width: 100%;" value="{{ event.puesto }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label for="correo_electronico" class="form-label">Correo Electrónico:</label>
                                </div>
                                <div class="col">
                                    <input type="email" class="form-control border-0" id="correo_electronico" name="correo_electronico" style="width: 100%;" value="{{ event.correo_electronico }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label for="telefono" class="form-label">Teléfono:</label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control border-0" id="telefono" name="telefono" style="width: 100%;" value="{{ event.telefono }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn" style="background-color: #F0731F; color:whitesmoke; font-weight: 600;">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}