{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        {% for seccion in cursos %}
            <div class="card-deck" style="margin-top: 1rem;">
                <div class="col-sm-8">
                    <div class="card w-500 border-0" style="background-color: #e7e7e794; color:#1F5D83;">
                        <div class="card-body">
                            <h5 class="card-title">{{ seccion.seccion }}</h5>
                            <p class="card-text"><strong>Profesor: </strong>{{ seccion.profesor }}</p>
                            <p class="card-text"><strong>Materia: </strong>{{ seccion.materia }}</p>
                            <p class="card-text"><strong>Horario: </strong>{{ seccion.horario }}</p>
                            <p class="card-text"><strong>Estudiantes: </strong>{{ ', '.join(seccion.estudiantesAsignados) }}</p>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</div>
  
{% endblock %}